<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
</head>

<body>
    <h1>Quanta Starfleet Dashboard</h1>
    <table>
        <tr>
            <th>Alias</th>
            <th>Alive</th>
            <th>Capacity</th>
            <th>Queued</th>
            <th>Running</th>
            <th>Requests</th>
            <th>Finished</th>
            <th>Successes</th>
            <th>Fails</th>
            <th>Avg Request Time</th>
        </tr>
        <tbody hx-get="/dashboard-stats" hx-trigger="load, every 1s"></tbody>
        <div tbody hx-get="/dashboard-request-counter" hx-trigger="load, every 1s"></div>
    </table>
</body>

</html>